.box{
    background-color: blueviolet;
    border-radius: 40px;
    text-align: center;
    font-size: 40px;
    padding: 80px;
    margin-top: 0px;
    margin-right: 280px;
    margin-left: 280px;
}